body {
  background: url("./assets/img/img bannert.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}


